@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
  margin: 0 auto;
  background-color: #5db3a6;
  font-family: 'Comfortaa', cursive;
  color: #fff;
  text-align: center;
}

.container button {
  font-size: 30px;
  text-align: center;
  height: 70px;
  width: 200px;
  border: #fff 1px solid;
  color: white;
  background-color: #5db3a6;
  padding: 10px 30px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  margin: 30px;
  }
  
.container button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border:  rgba(0, 0, 0, 0.1);
  transition-duration: 0.6s;
  }

#app {
  font-size: 50px;   
  }

